
@{
    ViewBag.Title = "Index";
}

<h2>Champlain College Computer Science</h2>


<h3>COMPUTER SCIENCE - LEGACY TO MOBILE COMPUTER SCIENCE PROGRAM (420.A0)</h3>
<p>
    The Legacy to Mobile (L2M) program provides a unique experience in developing and supporting computer systems to satisfy business requirements. Graduates are well trained for a career as a programmer analyst or as technical support. Students
    will also benefit from excellent on-site training at companies, which may lead to full-time jobs.
</p>
<p>
    Our courses are constantly evolving to meet the needs of employers. Learning takes place in both the classrooms and computer labs. Our teachers bring sound knowledge and experience to the classroom. This three-year program is well-suited for
    students who are interested in computer programming. Champlain has become one of the few cégeps in Quebec to offer mainframe programming and, through our partnership with the well established Fresche Legacy, students will have access to
    mainframe resources. In addition, students will focus on IT modernization solutions, which include programming for mobile platforms such as tablets and phones.
</p>
<h4>Here are just some of the things to expect while you are here studying</h4>
<ul>
    <li>Java</li>
    <li>PHP</li>
    <li>.NET</li>
</ul>
<h3>MINIMUM ADMISSION REQUIREMENTS</h3>
<blockquote>
    In order to be admitted to a program leading to a Diploma of College Studies (DEC), applicants must possess a Quebec Secondary School Diploma or have completed a level of education that is deemed equivalent by the College. Applicants must also have successfully completed Mathematics TS 5 or SN 5. Students who have Math CST 4 will also be considered and, if admitted, will take the equivalent to Math TS 5 or SN 5 as an extra course.
    For detailed admissions requirements please refer to the Admissions Handbook.
</blockquote>

<h3>ADMISSION PRIORITIES</h3>
<blockquote>
    Even if candidates to programs meet the requirements of the Règlement sur le regime des études collégiales, they may be refused admission because of the lack of space.
</blockquote>

<h3>APPLICATION DEADLINE</h3>
<blockquote>
    March 1st for the Fall Semester.
</blockquote>

<h3>INFORMATION AND APPLICATIONS</h3>
<blockquote>
    Web Site: www.ChamplainOnLine.com or our Admissions Office at admissions@champlaincollege.qc.ca or contact your high school guidance counselor.
</blockquote>

<h3>WHO SHOULD APPLY</h3>
<blockquote>
    The Computer Science program is designed for students who:
    are fascinated by computer-related topics
    enjoy working with others
    are generally curious and enjoy looking up information
    enjoy problem-solving
    approach situations in an organized and logical manner
    are able to solve word problems in mathematics
    love to learn and wish to keep learning
    appreciate the role that computers play in our lives and that machines serve us, not vice versa!
</blockquote>


