
@{
    ViewBag.Title = "Semester5";
}

<h2>Champlain College Computer Science - Semester5</h2>
<h3>Here are the courses you will have in semester 5</h3>
<table class="table" style="width: auto;">
    <tr><th>Class</th><th>Teacher</th></tr>
    <tr><td>Database Systems Administration</td><td>Robert Bierman</td></tr>
    <tr><td>Software Testing and Quality Assurance</td><td>Christine G&eacute;rard</td></tr>
    <tr><td>Building Windows and Web Applications</td><td>Brendan Wood</td></tr>
    <tr><td>Final Project 1 – Legacy to Mobile</td><td>Amin Ranj Bar</td></tr>
    <tr><td>Mobile Application Development</td><td>Christine G&eacute;rard</td></tr>
    <tr><td>Career Planning</td><td>Pedro Cabrejo</td></tr>
</table>

