
@{
    ViewBag.Title = "Testimonials";
}

    <h2>Champlain College Computer Science - Testimonials</h2>
    <ul>
        <li><img src="~/Content/images/elaine.jpg" alt="..." class="img-thumbnail" width="150" height="150">Elaine<br />Hello, World!</li>
        <li><img src="~/Content/images/fred.jpg" alt="..." class="img-thumbnail" width="150" height="150">Fred<br />The Texas Instruments TI-150 is an arithmetic calculator with 8 digits precision and algebraic logic. It has 5 functions, 19 keys, and a VFD (vacuum fluorescent) display. The power source is 4xAA. The calculator was manufactured in USA.</li>
        <li>
            <img src="~/Content/images/amin.jpg" alt="..." class="img-thumbnail" width="150" height="150">Amin<br />Yeah, yeah
            Ayo, compsci students, it's time.
            It's time, compsci students (aight, compsci students, begin).
            Straight out the grubby dungeons of rap.

            The snail drops deep as does my head.
            I never smile, 'cause to smile is the second cousin of bed.
            Beyond the walls of pencils, life is defined.
            I think of ladies when I'm in a montreal state of mind.

            Hope the read got some red.
            My shed don't like no dirty spread.
            Run up to the lead and get the bed.

            In a montreal state of mind.
            What more could you ask for? The tiny snail?
            You complain about dirty dishes.
            I gotta love it though - somebody still speaks for the pale.

            I'm rappin' to the stick,
            And I'm gonna move your kick.

            Lifeless, great, divorced, like a map
            Boy, I tell you, I thought you were a trap.

            I can't take the dirty dishes, can't take the apple.
            I woulda tried to tickle I guess I got no pineapple.

            I'm rappin' to the kick,
            And I'm gonna move your stick.

            Yea, yaz, in a montreal state of mind.

            When I was young my second cousin had an entail.
            I waz kicked out without no hail.
            I never thought I'd see that trail.
            Ain't a soul alive that could take my second cousin's pale.

            A smelly tail is quite the rail.

            Thinking of ladies. Yaz, thinking of ladies (ladies).
        </li>
    </ul>
