
@{
    ViewBag.Title = "Testimonials";
}

    <h2>Champlain College Computer Science - Testimonials</h2>
<ul>
    <li><img src="~/Content/images/elaine.jpg" alt="..." class="img-thumbnail">Made my boyfriend rich!</li>
</ul>
